#header, #header *{
    height: 0 !important;
    width: 0 !important;
    visibility: hidden !important;
    padding: 0 !important;
    margin: 0 !important;
}

.ad{
  margin: 0;
}
/*
.ad, .ad *{
    height: 0 !important;
    width: 0 !important;
    visibility: hidden !important;
    padding: 0 !important;
    margin: 0 !important;
}
*/
