#header, #header *, .onseiSwf, .onseiSwf *{
    height: 0 !important;
    width: 0 !important;
    visibility: hidden !important;
    padding: 0 !important;
    margin: 0 !important;
}

.content{
    padding: 0 !important;
    margin: 0 !important;
}

.ttlArea{
  padding: 0 !important;
  margin: 0 !important;
  display: inline-block !important;
  width: 90%;
}

.ad, .ad *{
    min-height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}

/*
.ad, .ad *{
    height: 0 !important;
    width: 0 !important;
    visibility: hidden !important;
    padding: 0 !important;
    margin: 0 !important;
}
*/
